body {
    font-family: "Montserrat_bold";
    background-color: $bg-color-site;
}

h1 {
    @media all and (max-width:577px){
        font-size: 2.0em;
    };
}

h2 {
    @media all and (max-width:577px){
        font-size: 1.2em;
    };
}

h4 {
    @media all and (max-width:577px){
        font-size: 1.0em;
    };
}

body, .card-text, .nav-link, option, .form-control {
    @media all and (max-width:577px){
        font-size: 0.7em;
    };
}

.jumbotron {
    background-image: url(../images/vcam_2.jpg);
    background-size: 15%;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer {
    font-family: "Montserrat";
    color: white;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inline {
    display: inline-block;
}

